.spot-card {
    display: flex;
    /* flex-wrap: wrap; */

    gap: 40px;
    /* row-gap: 40px; */
    justify-content: center;
    padding: 20px;
 
  }
  .tooltip {
    display: inline-block;
  }
  .addressAvgRating {
    display: flex;
    justify-content: space-between; /* Address and state on the start, avgRating on the end */
    margin-top: 10px; /* Add some margin between address/state and avgRating */
  }
  svg {
    width: 16px;
  }
  .spot {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgba(51, 51, 51, 0.5);;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip text */
    position: absolute;
    
    /* Fade in tooltip - uses opacity: 0 to 1 transition */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .spot:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
.spot-img {
    width: 279px;
    height: 265px;
    border-radius: 15px;
  }

  .spots-container > h1,
.spots-container > button {
 margin-left: 40px;
}
.buttons{
  padding-top: 10px;
}
.buttons button {
  margin-right: 10px;
}
/* For screens smaller than 600px */

@media screen and (max-width: 600px) {
    .spot-card {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        width: 100%; 
        padding: 20px;
    }

    .spot {
        max-width: 200px;
        margin-bottom: 20px; /* Add margin between spot cards */
    }
}

/* For screens between 601px and 900px */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .spot-card {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    
        justify-content: center;
    }

    .spot {
        width: 100%;
        max-width: calc(40% - 20px);
    }
}


 @media screen and (min-width: 901px) {
    .spot-card {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25%, 0.5fr));

        justify-content: center;
    }

    .spot {
        width: 100%;
        max-width: calc(25% - 20px);
    }
}

/* For screens larger than 1200px */
/* @media screen and (min-width: 1201px) {
    .spot-card {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(18% - 20px), 1fr)); /* Maximum of 4 columns */
 
        /* padding: 20px;
        justify-content: center;
    }

    .spot {
        width: 100%;
        max-width: calc(25% - 20px);
    }
} */ 
